
.icon-map{
	background: url(../icon/icon-jiaozhigong.png) no-repeat;
}
.icon-xiaoyou{
	background: url(../icon/icon-xiaoyou.png) no-repeat;
}
.icon-xueshen{
background: url(../icon/icon-xuesheng.png) no-repeat;
}
.icon-laifang{
background: url(../icon/icon-laifang.png) no-repeat;
}
.icon-search{
background: url(../icon/top-search.png) no-repeat;
}
